.App {
  font-family: sans-serif;
  text-align: center;
  align-content: center;
 
}
.cardSide{

width: 280px;
height: 280px;
border: 5px solid black ;

cursor: pointer;
font-size: 35px;
margin: 5px;
}

.cardSide.front{
  
  font-size: 35px;;
  background-color: rgb(209, 129, 53);
   margin: 5px;

}
.cardSide.back{

  font-size: 190px;;
  margin :5px;
}
img{
   width: 260px;
   height: 260px;
   
    
}
.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 1300px;
  
	
	
	
}